.about {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(33, 172, 166);
    font-weight: 600;
    height: 80vh;
    margin-left: 10vw;
    width: 60vw;
    font-size: large;
}
.about_divide{
    font-weight: 400;
    color:white;
    display: flex;
}

.about_content{
    flex: 60%;
}
.about_sep{
    flex:10%;
}
.about_pic {
    flex:30%;
}