
.image_container > img{
    
    border:1px solid #ddd;
    /* box-shadow: 1px 2px 3px 0px #aaa; */
    box-shadow: 1 1 1px 0px white inset, 0 0 1px 0px white;
    max-width: 100%;
    height: auto;
    position: relative;
    left: 20px;
    top: 20px;
    
}
.image_container {
  
    border: 1px solid;
    
    z-index: -1;
}
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
  