
#content-container{ 
    font-family: "SF Mono";
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    padding:20px;
    margin-top: 5%;

}

.intro_hello{
    font-family: "Open Sans";
    color: rgb(33, 172, 166);
    font-size: 22px;
}
